@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Noto+Sans+JP&family=Ubuntu&display=swap');
*
{
    padding: 0%;
    margin: 0%;
}
img
{
    width: 100%;
    height: 100%;
}
body
{
    background-color: white;
}
header
{
    background-color: blue;
    color: white;
    text-align: center;
}
main{
    color: blue;
    background-color: white;
    text-align: center;
}
.Flex-V
{
    display: flex;
    flex-direction: column;
}
.Flex-H
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px
}
h2
{
    font-family: 'Exo 2', sans-serif;
    font-size: 40px
}
h3
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px
}
p
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px
}
