
@font-face{
 font-family: Rock;
 src:url(./ressources/Fonts/NewRocker-Regular.ttf);
}
@font-face{
    font-family: Jazz;
    src:url(./ressources/Fonts/Bellerose.ttf)
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}
.Mheader
{
background-color: #303030;
}
.Mmain
{
    background-color: white;
    font-family:Rock
}
footer
{
    background-color: #303030;
}
.wave
{
    width: 100%;
    height: 100%;
    border-bottom: #303030;
}
.Flex-H
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1
{
    text-align: center;
}
.Mh1
{
    text-align: center;
    color: white
}
.Mh2
{
    text-align: center;
}
.Mh3
{
    text-align: center;
}
.choose
{
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin-top: 2%;
    margin-bottom: 2%;
}
body,html{
    min-height: 100vh;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
}
.albumcontainer{
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;

}
.albumcover{
    height:300px;
  
}
.album{
    display: flex;
    flex-direction: column;

    width:100%;
    margin-right:0.5em;
    align-items: center;
}
.albumfigure{
    margin: 0;
    text-align: center;
    width:25%
}
.albumdescription{
    margin: 0;
    text-align: justify;
    width:25%
}
.artistsocial{
    display: flex;
    justify-content: space-around;
    margin-top:2%;
    text-decoration: none;
    width:25%;
    margin-bottom: 2%;
}
.artistsocial a{
    text-decoration: none;
    color:red;
    
}
.lecteur{
    width:99.9vw;
    margin: 0;
    padding: 0;
}
#jazz{
    font-family:Jazz;
    line-height: 30px;
}
.choose a{
    text-decoration: none;
    color:purple;
    margin-top: 2%;
    margin-bottom: 2%;
}

