@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Noto+Sans+JP&family=Ubuntu&display=swap');
body
{
    background-color: rgb(99, 0, 174);
}
main
{
    text-align: center;
}
img
{
    width: 80%;
    height: 80%;
}
h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    color: white;
}
h2
{
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    color: white;
}
h3
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: white;
}
h4
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color:white;
}
.Flex-V
{
    display: flex;
    flex-direction: column;
}
.Flex-H
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button 
{
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: orange;
    text-decoration: none;
    color: white;
    font-size: 9px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
}

button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, .1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}
button:focus, button:hover {
    background: red;
}