@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu:wght@500&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body
{    
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
}
header
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color:black;
}
.AI
{    
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-color: black; 
    background-color:white;
}
.Coding
{    
    border-style: solid;
    border-width: 5px;
    text-align: center;
    background-color:white;
    border-color: black;
}
.Cyber-Security
{    
    border-style: solid;
    border-width: 5px;
    background-color:white;
    text-align: center;
    border-color: black;
}
.Executive-Education
{    
    border-style: solid;
    border-width: 5px;
    background-color:white;
    border-color: black;
}
.Centrale-Digital-Lab
{    
    border-style: solid;
    border-width: 5px;
    text-align: center;
    background-color:white;
}
.Logo-Plateforme
{    
    border-style: solid;
    border-width: 5px;
    text-align: center;
    background-color:white;
}
.Flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.Flex2
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    
}
img {
    width: 100%;
    height: 100%;
}
main
{
    border-top: 7px solid white;
    border-bottom: 5px solid #0099FF;
    border-left: 5px solid black);
    border-right: 5px solid black);
    background-color: #0099FF;
}
footer
{
    border-top: 7px solid #0099FF;
    border-bottom: 5px solid #0099FF;
    border-left: 5px solid black);
    border-right: 5px solid black);
    background-color: #0099FF;
}
h1
{
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px ;
}
h2
{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px
}
h6
{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px
}
h3
{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px
}
h4
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: normal;
}
p
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
a
{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}