@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald&family=Ubuntu+Mono&display=swap');
*{
    padding: 0px;
    margin: 0px;
    color:white;
}
header
{
    background-color: black;
    text-align: center;
}
footer
{
    background-color: black;
    text-align: center;
}
.Flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
main
{

    text-align: center;
    background-color: black;
}
a
{
    text-align: center;
    color: white;
    font-size:400px;
    font-family: 'Oswald', sans-serif;
}
h1
{
    text-align: center;
    color: white;
    font-size:50px;
    font-family: 'Oswald', sans-serif;
}
h2
{
    text-align: center;
    color: white;
    font-size:50px;
    font-family: 'Oswald', sans-serif;
}
h3
{
    text-align: center;
    color: white;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
}
