@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body
{    
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
main
{
    border-top: 7px solid #0099FF;
    border-bottom: 5px solid #0099FF;
    border-left: 5px solid black);
    border-right: 5px solid black);
    color: white;
    background-color: #0099FF;
    text-align: center;
}
footer
{
    border-top: 7px solid #0099FF;
    border-bottom: 5px solid #0099FF;
    border-left: 5px solid black);
    border-right: 5px solid black);
    background-color: #0099FF;
    color: white;
    text-align: center;
}
header
{
    border-top: 7px solid #0099FF;
    border-bottom: 5px solid #0099FF;
    border-left: 5px solid black);
    border-right: 5px solid black);
    background-color: #0099FF;
    color: white;
    text-align: center;
}
table
{
    border-top: 7px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    color: white;
    background-color: #0099FF;
}
tr
{
    
    color: white;
    background-color: #0099FF;
}
td
{
    border: 2px solid white;
    color: white;
    background-color: #0099FF;
}
img 
{
    width: 100%;
    height: auto;
}
h1
{
    color: white;
    font-family: 'Share Tech Mono', monospace;
}
h2
{
        color: white;
    font-family: 'Share Tech Mono', monospace;
}
h3
{
        color: white;
    font-family: 'Share Tech Mono', monospace;
}
